<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>17/05/26 10:16:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AllTheTests2.end()[pri:0, instance:AllTheTests2@4dfa3a9d]">&lt;&lt;end</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/05/26 10:15:11</td>   <td>-86408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTheTests2.setup()[pri:0, instance:AllTheTests2@4dfa3a9d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/05/26 10:15:46</td>   <td>-51468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTheTests2.setup()[pri:0, instance:AllTheTests2@4dfa3a9d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/05/26 10:16:04</td>   <td>-33180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTheTests2.setup()[pri:0, instance:AllTheTests2@4dfa3a9d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/05/26 10:16:23</td>   <td>-14625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTheTests2.setup()[pri:0, instance:AllTheTests2@4dfa3a9d]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/05/26 10:15:11</td>   <td>-86543</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllTheTests2.start()[pri:0, instance:AllTheTests2@4dfa3a9d]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/05/26 10:15:25</td>   <td>-72086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTheTests2.test1()[pri:0, instance:AllTheTests2@4dfa3a9d]">test1</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/05/26 10:15:54</td>   <td>-43244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTheTests2.test2()[pri:0, instance:AllTheTests2@4dfa3a9d]">test2</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/05/26 10:16:17</td>   <td>-20079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTheTests2.test3()[pri:0, instance:AllTheTests2@4dfa3a9d]">test3</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/05/26 10:16:30</td>   <td>-6933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllTheTests2.test4()[pri:0, instance:AllTheTests2@4dfa3a9d]">test4</td> 
  <td>main@230835489</td>   <td></td> </tr>
</table>
